DLTE-Java/Review7.0/EmployeeConsole/src/main/resources/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://employee.link" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee.service" targetNamespace="http://employee.service">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://employee.link" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://employee.link">

    <xsd:complexType name="employeeaddress">
        <xsd:sequence>
            <xsd:element name="houseName" type="xsd:string"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="pin" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="employeedetails">
        <xsd:sequence>
            <xsd:element name="employeeID" type="xsd:string"/>
            <xsd:element name="employeeName" type="xsd:string"/>
            <xsd:element name="emailID" type="xsd:string"/>
            <xsd:element name="phoneNumber" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="employee">
        <xsd:sequence>
            <xsd:element name="employeeDetails" type="tns:employeedetails"/>
            <xsd:element name="employeeTemporaryAddress" type="tns:employeeaddress"/>
            <xsd:element name="employeePermanentAddress" type="tns:employeeaddress"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="serviceStatus">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="newEmployeeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employee" type="tns:employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="newEmployeeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element name="employee" type="tns:employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="displayAllRequest">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="displayAllResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="employee" type="tns:employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="displayBasedOnIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employeeid" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="displayBasedOnIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element name="employee" type="tns:employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="displayBasedOnPinRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pin" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="displayBasedOnPinResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="employee" type="tns:employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>





</xsd:schema>
  </wsdl:types>
  <wsdl:message name="newEmployeeResponse">
    <wsdl:part element="sch:newEmployeeResponse" name="newEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayBasedOnIdRequest">
    <wsdl:part element="sch:displayBasedOnIdRequest" name="displayBasedOnIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayBasedOnIdResponse">
    <wsdl:part element="sch:displayBasedOnIdResponse" name="displayBasedOnIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayAllResponse">
    <wsdl:part element="sch:displayAllResponse" name="displayAllResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newEmployeeRequest">
    <wsdl:part element="sch:newEmployeeRequest" name="newEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayBasedOnPinRequest">
    <wsdl:part element="sch:displayBasedOnPinRequest" name="displayBasedOnPinRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayBasedOnPinResponse">
    <wsdl:part element="sch:displayBasedOnPinResponse" name="displayBasedOnPinResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayAllRequest">
    <wsdl:part element="sch:displayAllRequest" name="displayAllRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="newEmployee">
      <wsdl:input message="tns:newEmployeeRequest" name="newEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:newEmployeeResponse" name="newEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayBasedOnId">
      <wsdl:input message="tns:displayBasedOnIdRequest" name="displayBasedOnIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:displayBasedOnIdResponse" name="displayBasedOnIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayAll">
      <wsdl:input message="tns:displayAllRequest" name="displayAllRequest">
    </wsdl:input>
      <wsdl:output message="tns:displayAllResponse" name="displayAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayBasedOnPin">
      <wsdl:input message="tns:displayBasedOnPinRequest" name="displayBasedOnPinRequest">
    </wsdl:input>
      <wsdl:output message="tns:displayBasedOnPinResponse" name="displayBasedOnPinResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="newEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="newEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="newEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayBasedOnId">
      <soap:operation soapAction=""/>
      <wsdl:input name="displayBasedOnIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="displayBasedOnIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayAll">
      <soap:operation soapAction=""/>
      <wsdl:input name="displayAllRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="displayAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayBasedOnPin">
      <soap:operation soapAction=""/>
      <wsdl:input name="displayBasedOnPinRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="displayBasedOnPinResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8084/employeerepo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>